body, h1, h2, h3, h4, h5,h6, p, div, ul, li {
    margin: 0;
    padding:0;
}
html{
    height:100%;
    width:100%;
}
body{
    font-family: georgia, "times new roman", serif;
    height:100%;
    width: 100%;
}
img{
    max-width: 100%;
    height:100%;
}
nav{
    background-color: #2c3739;
    width: 100%;
    height: 40px;
    text-align: center;
}
.nav ul {
    display:inline-block;
    list-style:none;
}
.nav li {
    display:inline;
}
.nav a {
    float:left;
    text-decoration:none;
    color: white;
    font-family: georgia, "times new roman", serif;
    padding:0 10px;
    border: 1px solid;
    border-radius: 5px;
    text-shadow:0;
}
.nav a:hover{
    color: red;
}
h3.split.menuheader{
    border-top:red 2px solid;
    background-color: #2c3739;
    height: 40px;
    margin: 0;
    text-align: center;
}
div.header.clearfix{
    background-color: #2c3739;
    width: 100%;

}
h3.split span.line {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    height: 0.6em;
    overflow: hidden;
    text-align: center;
}
h3.split {
    font-size: 2em;
    position: relative;
    width: 100%;
    font-family: georgia, "times new roman", serif;
    height: 1em;
    text-align: center;
}
h3.split:before {
    content: attr(title);
    left: 0;
    top: 0;
    color: #cc0000;
}
span.line{
    position: absolute;
    left: 0;
    right:0;
}
.line{
    text-align: center;
    align-items: center
}
#stage{
    background: url('zarowka.jpg') center center no-repeat;
    background-size:cover;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px #ff0000;
}
#stage-caption{
    border: solid #40c19a;
    border-radius: 5px;
    background-color: #a93625;
    opacity: 0.5;
    font-family:Nyala;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px #ff0000;
}

.jumbotron {
    margin-top: 40px;
    display: block;
    background: url(../Images/img1.jpg) no-repeat bottom;
    background-size: cover;
    text-align: center;
    border-left:2px #2c3739 solid;
    border-right: 2px #2c3739 solid;
    padding: 0;
    min-height:240px;
    margin-bottom: 0;
    border-radius: 0;
}
.jumbotron .container{
    max-width:40rem;
    background: rgba(255,255,255,0);
    color: white;
}
div.jumbotron.container{
    margin-top: 0;
}
h4{
    text-shadow: 2px 2px #ff0000;
}
p.lead{
    text-shadow: 2px 2px #000000;
}
.label{
    text-align: center;
    background-color:#2c3739 ;
    color: white;
}
div.row{
    border-left:2px #2c3739 solid;
    border-right: 2px #2c3739 solid;
}
.album {
    background-color: #f7f7f7;
}
.card {
    float: left;
    padding: .75rem;
    border: 0;
}
.card > img {
    margin-bottom: 0.75rem;
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
}
.card-text {
    font-size: 165%;
    text-align: center;
}
footer {
    background-color: #2c3739;
    height: 130px;
    width: 100%;
    text-align: center;
}
footer p{
    text-align: center;
    padding: 50px;
    position: relative;
}
.footerwith{
    max-width: 100%;
}
div.text-muted{
    margin: 0;
}
button{
    text-align: center;
    padding:0;
}
.hidden{
    display: none;
}
.arrow-next{
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 98%;
    bottom: 40vh;
}
.arrow-prev{
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: 98%;
    bottom: 40vh;
}
#success_message{
    display: none;
}
div.inputGroupContainer,div.col-md-4 {
    margin: 0 auto;
}
